BeautifulSoup==3.2.1
Flask==0.12.2
Jinja2==2.9.6
MarkupSafe==1.0
Pillow==4.2.1
Werkzeug==0.12.2
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.07.27.1
chardet==3.0.4
click==6.7
cssselect==1.0.1
elasticsearch==5.4.0
goose-extractor==1.0.25
idna==2.5
itsdangerous==0.24
jieba==0.38
lxml==4.6.3
nltk==3.2.4
numpy==1.13.1
olefile==0.44
pymongo==3.4.0
requests==2.18.2
six==1.10.0
urllib3==1.22
wsgiref==0.1.2
